# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Builds
.webpack

# Testing files
coverage
tests/load-testing/outputs/*.json
tests/load-testing/outputs/*.html
tests/__snapshots__